// Contenido principal
main {
  flex: 1;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: $font-size-large;
  margin-bottom: 20px;
}

// Media Queries para Responsividad
@include media-query(medium) {
  header h1 {
    font-size: $font-size-large;
  }

  .nav-item {
    margin-left: 10px;
  }

  .nav-link {
    font-size: 1rem;
  }

  .card {
    margin-bottom: 10px;
  }

  .carousel-inner img {
    height: 300px;
  }

  .navbar-brand img {
    width: 90px;
  }
}

@include media-query(small) {
  .nav-item {
    margin-left: 5px;
  }

  .nav-link {
    font-size: $font-size-small;
  }

  h2 {
    font-size: 1.5rem;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  footer {
    padding: 15px;
  }
}
